<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks39.myblog.mapper.tagBlogMapper">


  <!--1. add-->
  <insert id="addTagBlog">
    insert into tb_tag_blog(tag_id,blog_id) values
    <foreach collection="tagsId"  item="item" separator=",">
      (#{item},#{blog_id})
    </foreach>
  </insert>

<!--2. getTagIdList-->
  <select id="getTagIdList" resultType="integer">
        select tag_id from tb_tag_blog
        where blog_id=#{blog_id}
    </select>

<!--3. delete-->
  <delete id="deleteTagBlog" >
    delete from tb_tag_blog where tag_id in
    <foreach collection="tagIdList" open="(" close=")" item="item" separator=",">
      #{item}
    </foreach>
    and blog_id = #{blog_id}
  </delete>

<!--4. deleteByBlogId-->
  <delete id="deleteByTagBlogId">
    delete from tb_tag_blog where blog_id = #{blog_id}
  </delete>

<!--&lt;!&ndash;5. deleteByTagId&ndash;&gt;-->
<!--  <delete id="deleteByTagId">-->
<!--    delete from tb_tag_blog where tag_id = #{tag_id}-->
<!--  </delete>-->

</mapper>