<script th:src="@{https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/blog/js/plugins.js}"></script>
<script th:src="@{/blog/js/Popper.js}"></script>
<script th:src="@{/blog/js/bootstrap.min.js}"></script>
<script th:src="@{/blog/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/blog/js/owl.carousel.min.js}"></script>
<script th:src="@{/blog/js/isotope.pkgd.min.js}"></script>
<script th:src="@{/blog/js/imagesloaded.pkgd.min.js}"></script>
<script th:src="@{/blog/js/scrollup.js}"></script>
<script th:src="@{/blog/js/jquery.counterup.min.js}"></script>
<script th:src="@{/blog/js/waypoints.min.js}"></script>
<script th:src="@{/blog/js/jquery.appear.js}"></script>
<script th:src="@{/blog/js/jquery.barfiller.js}"></script>
<script th:src="@{/blog/js/main.js}"></script>

<!--bootstrapVaidator-->
<script src="https://cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
<!--prism-->
<script th:src="@{/blog/js/prism/prism.js}"></script>
<!--pjax-->
<script th:src="@{/blog/js/jquery.pjax.js}"></script>
