
<script type="text/javascript" language="javascript">

    $(function() {

        //这是a标签的pjax
        //#content 表示执行pjax后会发生变化的id,只有article-list页面会发生变化
        //改成你主题的内容主体id或class
        //timeout是pjax响应时间限制，如果在设定时间内未响应就执行页面转跳，可自由设置
        $(document).pjax('a[target!=_blank]', '#BlogContent', {fragment:'#BlogContent', timeout:6000});

        $(document).on('pjax:send', function() {

            //执行pjax开始，在这里添加要重载的代码，可自行添加loading动画代码。例如你已调用了NProgress，在这里添加 NProgress.start();
        });

        $(document).on('pjax:complete', function() {
            Prism.highlightAll();
            //执行pjax结束，在这里添加要重载的代码，可自行添加loading动画结束或隐藏代码。例如NProgress的结束代码 NProgress.done();
        });


        //支持表单提交事件无刷新
        $(document).on('submit',
            '#SideBarSearch',
            function (event) {
            //form表示所有的提交表单都会执行pjax，比如搜索和提交评论，可自行修改改成你想要执行pjax的form id或class。、
            // 此处我指定了sidebar-info的搜索表单的id

            //#container 同上改成你主题的内容主体id或class。此处指定BlogContent主体内容进行局部刷新
            $.pjax.submit(event, '#BlogContent', {
                fragment:'#BlogContent', timeout:6000
            });
        });

    });
</script>