<!DOCTYPE html>
<!--导入thymeleaf-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<!--1. 引入headerCss-->
<head th:replace="admin/common-template/headCss::head('Admin | Tag')"></head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!--2. 引入header代码-->
    <nav th:replace="admin/common-template/header"></nav>

    <!--3. 引入sidebar-menu-->
    <aside th:replace="admin/common-template/sidebar-menu"></aside>

    <!--4. 引入index-->
    <div th:replace="admin/page-fragment/tag"></div>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>

</div>
<!-- ./wrapper -->

<!--6. 引入footer-->
<footer th:replace="admin/common-template/footer"></footer>

<!--7. 引入footerScript-->
<th:block th:replace="admin/common-template/footScript"/>

<!--8. 引入pjax-->
<th:block th:replace="admin/common-template/pjax"/>

<!--pjax为null时调用这个js-->
<script type="text/javascript">

    //1. 添加事件模态框
    $("#AddTag").click(function () {
        $("#addModal").modal();
        return;
    });

    //2. 添加事件
    $("#addTagButton").click(function () {

        //1. 自定义校验
        var name = $("#addTagName").val();
        if($.trim(name) === ''){
            alert("请输入标签名");
            return ;
        }

        //2. 提取数据
        var url = "/admin/tag/add";
        var data = {
            tag_name : $("#addTagName").val(),
        };

        alert("添加成功");
        $("#addModal").modal('hide');   //隐藏模态框
        $('.modal-backdrop').remove();//去掉遮罩层
        $("#AdminContent").load(url,data);
    });

    //3. 删除事件
    function deleteById(id) {

        var msg = confirm("您真的确定要删除吗？");
        if(msg == true) {

            var url = "/admin/tag/delete";
            var data = {
                tag_id: id
            };
            alert("删除成功");
            $("#AdminContent").load(url, data);
        }else {
            return false;
        }
    }

    //4. 修改事件模态框
    function edit(id,name) {
        //1. 打开模态框
        $("#editModal").modal();

        //2. 回填数据
        $("#tagId").val(id);
        $("#editTagName").val(name);
    }

    //5. 修改事件
    $("#editTagButton").click(function () {

        //3. 自定义校验
        var test_name = $("#editTagName").val();
        if($.trim(test_name) === ''){
            alert("请输入标签名");
            return;
        }

        //4. 提取数据
        var url = "/admin/tag/edit";
        var data = {
            tag_id : $("#tagId").val(),
            tag_name : $("#editTagName").val(),
        };

        alert("修改成功");
        $("#editModal").modal('hide');   //隐藏模态框
        $('.modal-backdrop').remove();//去掉遮罩层
        $("#AdminContent").load(url,data);
    });

</script>

</body>
</html>
